{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mx-auto p-6 font-serif bg-gray-800 text-white rounded-lg shadow-lg">
        <h4 class="text-3xl font-extrabold text-gray-100 mb-6">Register</h4>

        <div class="bg-gray-700 p-6 rounded-lg shadow-md">
            {{ form_start(registrationForm) }}

            <!-- Email Field -->
            <div class="mb-4">
                {{ form_row(registrationForm.email, {
                    'label': 'Email Address',
                    'attr': {
                        'class': 'w-full bg-gray-600 text-white border border-gray-500 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition'
                    }
                }) }}
            </div>

            <!-- Username Field -->
            <div class="mb-4">
                {{ form_row(registrationForm.username, {
                    'label': 'Username',
                    'attr': {
                        'class': 'w-full bg-gray-600 text-white border border-gray-500 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition'
                    }
                }) }}
            </div>

            <!-- Password Fields -->
            <div class="mb-4">
                <!-- Password Field -->
                {{ form_row(registrationForm.plainPassword.first, {
                    'attr': {
                        'class': 'w-full bg-gray-600 text-white border border-gray-500 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition',
                        'autocomplete': 'new-password'
                    },
                }) }}
            </div>

            <div class="mb-4">
                <!-- Repeat Password Field -->
                {{ form_row(registrationForm.plainPassword.second, {
                    'attr': {
                        'class': 'w-full bg-gray-600 text-white border border-gray-500 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition',
                        'autocomplete': 'new-password'
                    },
                }) }}
            </div>

            <!-- Submit Button -->
            <div class="mt-6">
                <button type="submit"
                        class="inline-block bg-green-600 text-white py-2 px-6 rounded-md hover:bg-green-700 transition duration-200 ease-in-out">
                    Register
                </button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
