{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mx-auto p-4 my-5 font-serif text-gray-300">

        <!-- Latest Sections -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-6">
            <!-- Latest Posts -->
            <div class="bg-gray-900 p-3">
                <h2 class="text-lg font-semibold text-yellow-400 mb-3">Latest Posts</h2>
                <div class="space-y-2">
                    {% if latestPosts %}
                    {% for post in latestPosts %}
                        <div class="bg-gray-700 p-2 hover:bg-gray-600 transition duration-200">
                            <a href="{{ path('post_goto', { id: post.id }) }}"
                               class="block text-yellow-400 hover:underline truncate">
                                in: {{ post.topic.title }}
                            </a>
                            <p class="truncate text-gray-300 text-sm">{{ post.body }}</p>
                            <div class="text-right mt-1">
                                <span class="text-xs text-gray-400">{{ post.createdAt|date('F j, Y, g:i a') }}</span>
                                <a href="{{ path('user_profile_public', { 'id': post.author.id }) }}"
                                   class="text-yellow-400 text-xs hover:underline">by: {{ post.author.username }}</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3 class="text-gray-400 text-center mb-5">No posts found.</h3>
                    {% endif %}
                </div>
            </div>

            <!-- Latest Topics -->
            <div class="bg-gray-900 p-3">
                <h2 class="text-lg font-semibold text-yellow-400 mb-3">Latest Topics</h2>
                <div class="space-y-2">
                    {% if latestTopics %}
                    {% for topic in latestTopics %}
                        <div class="bg-gray-700 p-2 hover:bg-gray-600 transition duration-200">
                            <a href="{{ path('topic_show', { id: topic.id }) }}"
                               class="block text-yellow-400 hover:underline truncate">
                                {{ topic.title }}
                            </a>
                            <div class="text-right mt-1">
                                <span class="text-xs text-gray-400">{{ topic.createdAt|date('F j, Y, g:i a') }}</span>
                                <a href="{{ path('user_profile_public', { 'id': topic.author_id }) }}"
                                   class="text-yellow-400 text-xs hover:underline">by: {{ topic.author_username }}</a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3 class="text-gray-400 text-center mb-5">No topics found.</h3>
                    {% endif %}
                </div>
            </div>

            <!-- Latest Users -->
            <!-- Most Active Users -->
            <div class="bg-gray-900 p-3">
                <h2 class="text-lg font-semibold text-yellow-400 my-2">Newest Members</h2>
                <div>
                    {% if latestUsers %}
                    {% for user in latestUsers %}
                        <div class="p-2 hover:bg-gray-600 transition duration-200">
                            <a href="{{ path('user_profile_public', {'id': user.id}) }}"
                               class="text-yellow-400 text-sm hover:underline">
                                {{ user.username }}
                            </a>
                            <span class="text-xs text-gray-400">{{ user.createdAt|date('F j, Y, g:i a') }}</span>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3 class="text-gray-400 text-center mb-5">No users found.</h3>
                    {% endif %}
                </div>
                <hr/>
                <h2 class="text-lg font-semibold text-yellow-400 my-2">Most Active Members</h2>
                <div>
                    {% if mostActiveUsers %}
                        {% for user in mostActiveUsers %}
                            <div class="p-2 hover:bg-gray-600 transition duration-200">
                                <a href="{{ path('user_profile_public', {'id': user.id}) }}"
                                   class="text-yellow-400 text-sm hover:underline">
                                    {{ user.username }}
                                </a>
                                <span class="text-sm text-gray-400">Posts: {{ user.postCount }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="text-gray-400 text-center mb-5">No posts found.</h3>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

            <!-- Most Active Topics -->
            <div class="bg-gray-900 w-3/5 p-3">
                <h2 class="text-lg font-semibold text-yellow-400 mb-3">Most Active Topics</h2>
                <div class="space-y-2">
                    {% if mostActiveTopics %}
                    {% for topic in mostActiveTopics %}
                        <div class="bg-gray-700 p-2 hover:bg-gray-600 transition duration-200">
                            <a href="{{ path('topic_show', {'id': topic.id}) }}"
                               class="block text-yellow-400 hover:underline truncate">
                                {{ topic.title }}
                            </a>
                            <span class="text-s text-gray-400 block">Posts: {{ topic.postCount }}</span>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3 class="text-gray-400 text-center mb-5">No posts found.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
