{% extends 'base.html.twig' %}

{% block title %}User manager{% endblock %}

{% block body %}
    <p>name: {{ user.username }}</p>
    <p>email: {{ user.email }}</p>
    <p>role: {{ user.role.name }}</p>
    <p>status: {{ user.status }}</p>
    {% if provider.suspended %}
        <p>suspension:
            <a href="{{ path('show_suspension', {'id': user.suspension.id}) }}">
                {% if user.suspension.permanent %}
                    indefinite
                {% else %}
                    {{ user.suspension.expiresAt|date }}
                {% endif %}
            </a>
        </p>
    {% endif %}

    {% if not provider.suspended %}
        {{ form_start(suspendForm) }}
        <div style="display: flex; align-items: center">
            {{ form_row(suspendForm.days) }}
            {{ form_row(suspendForm.hours) }}
        </div>
        {{ form_end(suspendForm) }}

        {{ form_start(permanentSuspendForm) }}
        {{ form_end(permanentSuspendForm) }}
    {% endif %}

    <p>default roles:</p>
    {% for permission in provider.defaultPermissions %}
        <li>{{ permission.formattedName }}
            {% if provider.permission(permission) %}
                <span style="color: green">permitted</span>
                <a href="{{ path('revoke_permission', {
                    'user': user.id,
                    'permission': permission.id,
                    '_token': csrf_token('revoke_permission_' ~ user.id ~ '_' ~ permission.id)
                }) }}">Revoke</a>
            {% else %}
                <span style="color: red">restricted</span>
                <a href="{{ path('grant_permission', {
                    'user': user.id,
                    'permission': permission.id,
                    '_token': csrf_token('permit_user_' ~ user.id ~ '_' ~ permission.id)
                }) }}">Allow</a>
            {% endif %}
        </li>
    {% endfor %}

    <p>other permissions:</p>
    {% for permission in provider.specialPermissions %}
        <li>{{ permission.formattedName }}
            {% if provider.permission(permission) %}
                <span style="color: green">permitted</span>
                <a href="{{ path('revoke_permission', {
                    'user': user.id,
                    'permission': permission.id,
                    '_token': csrf_token('revoke_permission_' ~ user.id ~ '_' ~ permission.id)
                }) }}">Revoke</a>
            {% else %}
                <span style="color: red">restricted</span>
                <a href="{{ path('grant_permission', {
                    'user': user.id,
                    'permission': permission.id,
                    '_token': csrf_token('permit_user_' ~ user.id ~ '_' ~ permission.id)
                }) }}">Grant</a>
            {% endif %}
        </li>
    {% endfor %}

{% endblock %}