<div style="display: block">
    <a href="{{ path('home') }}">home</a>
    <a href="{{ path('login') }}">login</a>
    <a href="{{ path('logout') }}">logout</a>
    <a href="{{ path('register') }}">register</a>
    <a href="{{ path('admin_panel') }}">panel</a>
</div>
