{% extends 'base.html.twig' %}

{% block title %}{{ board.title }}{% endblock %}

{% block body %}
    <div class="container mx-auto p-6 font-serif">
        <!-- Board Information -->
        <div class="bg-gray-900 border-4 border-gray-600 shadow-lg p-4 mb-5 space-y-2">
            <h4 class="text-3xl text-yellow-400 font-extrabold">{{ board.title }}</h4>
            <p class="text-lg text-gray-200">{{ board.description }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('board_edit', {'id': board.id}) }}"
                   class="inline-block text-blue-500">Edit
                    Board</a>
            {% endif %}
        </div>

        <!-- Create New Topic Button -->
        <div class="flex items-center justify-between mb-6">
            <!-- Create New Topic Button -->
            <a href="{{ path('topic_create', {'id': board.id}) }}"
               class="bg-yellow-600 text-white py-2 px-6 hover:bg-yellow-500 transition duration-200 ease-in-out">
                Create New Topic
            </a>

            <!-- Search Form -->
            {{ include('_search.html.twig', { id: board.id, path: path, searchQuery: searchQuery }) }}
        </div>

        <!-- Topics List -->
        <div>
            {% if paginator.results %}
                <table class="min-w-full bg-gray-800 text-gray-200 border border-gray-600">
                    <thead class="bg-gray-700">
                    <tr>
                        <th class="px-3 py-3 text-left text-sm font-medium text-gray-300 uppercase tracking-wider border-b border-gray-600">
                            Topic
                        </th>
                        <th class="py-3 text-right text-sm font-medium text-gray-300 uppercase tracking-wider border-b border-gray-600">
                            Replies
                        </th>
                        <th class="px-3 py-3 text-center text-sm font-medium text-gray-300 uppercase tracking-wider border-b border-gray-600">
                            Latest Post
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in paginator.results %}
                        {% if data.topic.isVisible %}
                        <tr class="hover:bg-gray-700 transition duration-200 ease-in-out">
                            <td class="px-3 py-2 border-b border-gray-600">
                                {% if data.topic.isImportant %}
                                    <span class="text-red-400">[Important]</span>
                                {% endif %}
                                {% if data.topic.isLocked %}
                                    <div style="width: 20px; transform: translateY(3px)" class="inline-block">
                                        <svg class="text-orange-500" viewBox="0 0 24 23" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                    </div>
                                {% endif %}
                                <a href="{{ path('topic_show', {'id': data.topic.id}) }}"
                                   class="text-yellow-400 hover:underline transition duration-200 ease-in-out">
                                    {{ data.topic.title }}
                                </a>
                                <small class="text-gray-400">{{ data.topic.author.username }}
                                    - {{ data.topic.createdAt|date }}</small>
                            </td>
                            <td class=" py-2 border-b border-gray-600 w-10 text-center">
                                <span>{{ data.post_count ?: 0 }}</span>
                            </td>
                            <td class="px-3 py-2 text-center border-b border-gray-600 w-1/6">
                                <span class="text-sm text-gray-400">
                                    {% if data.latest_post %}
                                        {{ data.latest_post|date }}
                                    {% else %}
                                        No posts yet
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if searchQuery %}
                    <h3 class="text-gray-400 text-center mb-5">No topics found.</h3>
                {% else %}
                    <h3 class="text-gray-400 text-center mb-5">No topics yet.</h3>
                {% endif %}
            {% endif %}
        </div>

        <!-- Pagination -->
        {{ include('_paginator.html.twig', { id: board.id, path: paginationPath, searchQuery: searchQuery }) }}

    </div>
{% endblock %}
