{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-6 bg-gray-800 text-white font-serif">
        <nav class="mb-4 text-gray-400 text-sm">
            <a href="{{ path('board_show', {'id': board.id}) }}"
               class="text-yellow-400 hover:underline">{{ board.title }}</a>
            <span class="text-gray-500"> &gt; </span>
            <span>{{ topic.title }}</span>
        </nav>

        <div class="bg-gray-800 border border-gray-700 shadow-lg  mb-8 mx-auto">
            <div class="flex flex-col md:flex-row">
                <!-- User Info Section -->
                <aside class="w-full md:w-1/6 mb-6 md:mb-0 md:pr-6">
                    <div class="bg-gray-900 p-4 h-full shadow">
                        <!-- User Avatar (Placeholder) -->
                        <div class="flex justify-center mb-4">
                            <img src="https://via.placeholder.com/80"
                                 alt="User Avatar"
                                 class="w-20 h-20 rounded-full border-2 border-gray-700">
                        </div>
                        <!-- Username -->
                        <div class="text-center">
                            <a href="{{ path('user_profile_public', {'id': topic.author.id}) }}"
                               class="text-blue-400 hover:text-blue-300 font-semibold text-lg">
                                {{ topic.author.username }}
                            </a>
                        </div>
                        <!-- Creation Date -->
                        <div class="text-center text-gray-400 text-sm mt-1">
                            Joined on {{ topic.createdAt|date('Y-m-d') }}
                        </div>
                    </div>
                </aside>

                <!-- Topic Content Section -->
                <section class="w-full md:w-3/4">
                    <!-- Topic Header -->
                    <div class="flex items-center justify-between my-2">
                        <!-- Title -->
                        <span class="text-l font-bold text-yellow-400">
                            {{ topic.title }}
                        </span>
                    </div>

                    <hr/>

                    <!-- Topic Body -->
                    <div class="text-gray-300 leading-relaxed my-4">
                        {{ topic.body }}
                    </div>


                    <div class="flex justify-end space-x-2 my-2 w-full">
                        {% if app.user is same as topic.author or is_granted('ROLE_ADMIN') %}
                            {{ form_start(lockForm) }}
                            <button type="submit"
                                    class="text-blue-500">
                                {% if topic.isLocked %} Unlock {% else %} Lock {% endif %}
                            </button>
                            {{ form_end(lockForm) }}
                        {% endif %}

                        {% if app.user is same as topic.author %}
                            {{ form_start(visibilityForm) }}
                            <button type="submit"
                                    class="text-blue-500">
                                {% if topic.isVisible %} Hide {% else %} Show {% endif %}
                            </button>
                            {{ form_end(visibilityForm) }}
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('topic_move', {'id': topic.id}) }}"
                               class="text-blue-500">
                                Move
                            </a>
                            {{ form_start(importantForm) }}
                            <button type="submit"
                                    class="text-blue-500">
                                {% if topic.isImportant %} Unmark Important {% else %} Mark Important {% endif %}
                            </button>
                            {{ form_end(importantForm) }}
                        {% endif %}
                        {% if app.user is same as topic.author or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('topic_edit', {'id': topic.id}) }}"
                               class="text-blue-500">
                                Edit
                            </a>
                        {% endif %}
                    </div>

                </section>
            </div>
        </div>


        {% if paginator.results %}
            <div class="mt-8 mb-4 space-y-3">
                {% for key, post in paginator.results %}
                    <div id="{{ post.id }}" class="bg-gray-700 border-2 border-gray-600 shadow-md">
                        <div class="flex justify-between items-start">
                            <div class="w-1/6 px-3 py-2">
                                <a class="text-blue-500"
                                   href="{{ path('user_profile_public', { id: post.author.id }) }}">
                                    {{ post.author.username }}:
                                </a>
                                <p class="text-sm">
                                    (Posts: {{ post.author.postCount }})
                                </p>
                            </div>
                            <div class="flex justify-content-start w-full py-2 px-3">
                                <span class="text-gray-300 text-left">{{ post.body }}</span>
                            </div>
                            <div class="w-1/6 text-right p-2">
                                <div>
                                    <span class="text-gray-500 text-sm">{{ post.createdAt|date('Y-m-d H:i') }}</span>
                                    <a class="ml-1 text-sm" href="#{{ post.id }}">#{{ paginator.postIndex(key) }}</a>
                                </div>
                                {% if app.user is same as post.author %}
                                    <a href="{{ path('post_edit', {'id': post.id, 'page': paginator.page }) }}"
                                       class="inline-block text-blue-500 mt-2">Edit</a>
                                {% endif %}
                            </div>
                        </div>


                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-gray-400 text-center mb-5">No posts yet.</h3>
        {% endif %}

        <hr/>

        <div class="mt-4">
            {{ form_start(form, {'attr': {'class': 'space-y-2'}}) }}
            <div>
                {{ form_widget(form.body, {
                    'attr': {
                        'class': 'w-full bg-gray-700 text-white border border-gray-600 rounded-md py-3 px-4 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500 transition duration-200 ease-in-out'
                    }
                }) }}
            </div>
            <button type="submit"
                    class="inline-block bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-500 transition duration-200 ease-in-out">
                Submit
            </button>
            {{ form_end(form) }}
        </div>

        {{ include('_paginator.html.twig', { id: topic.id, path: path, searchQuery: null }) }}
    </div>
{% endblock %}