{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} Posts{% endblock %}

{% block body %}
    <div class="container mx-auto p-6 font-serif bg-gray-800 text-white rounded-lg">
        <h4 class="text-xl font-extrabold text-gray-100 mb-6">Posts by <a class="text-yellow-400 hover:underline" href="{{ path('user_profile_public', { id: user.id }) }}">{{ user.username }}</a></h4>

        <!-- Topics List -->
        {% if paginator.results %}
            <ul class="space-y-4">
                {% for post in paginator.results %}
                    <li class="bg-gray-900 text-white p-4 rounded-lg shadow-md hover:bg-gray-700 transition duration-200 ease-in-out">
                        <div class="flex-column">
                            <div class="truncate">
                                <a href="{{ path('topic_show_paginated', { id: post.topic.id, page: helper.postPosition(post.id, post.topic.id) }) }}#{{ post.id }}"
                                   class="text-yellow-400 hover:underline w-2/4">in: {{ post.topic.title }}</a>
                            </div>
                            <div class="truncate">
                                <span>{{ post.body }}</span>
                            </div>
                        </div>
                        <p class="text-sm text-gray-400">Posted on {{ post.createdAt|date('F j, Y, g:i a') }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4 class="text-xl font-semibold text-gray-400">No topics have been created by {{ user.username }} yet.</h4>
        {% endif %}

        <!-- Pagination -->
        <div class="mt-6">
            {{ include('_paginator.html.twig', { id: user.id, path: paginationPath, searchQuery: null }) }}
        </div>
    </div>
{% endblock %}



