{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container mx-auto p-6 font-serif">
        <h4 class="text-3xl font-extrabold text-gray-100 mb-6">User Profile</h4>

        <div class="bg-gray-800 p-6 rounded-lg shadow-lg border-4 border-gray-600 mb-6">
            <p class="text-lg text-gray-200"><strong>Username:</strong> {{ user.username }}</p>
            <p class="text-lg text-gray-200"><strong>Email:</strong> {{ user.email }}</p>

            <a href="{{ path('user_profile_edit', {'id': user.id}) }}" class="mt-4 inline-block bg-yellow-600 text-white py-2 px-6 rounded-md hover:bg-yellow-500 transition duration-200 ease-in-out">
                Update Profile
            </a>
        </div>

        <div class="bg-gray-800 p-6 rounded-lg shadow-lg border-4 border-gray-600">
            <p class="text-lg text-gray-200">
                <span>Your profile is </span>
                {% if user.private %}
                    <span class="text-red-500 font-bold">private</span>
                {% else %}
                    <span class="text-green-500 font-bold">public</span>
                {% endif %}
            </p>

            {{ form_start(profilePrivateForm, {'attr': {'class': 'space-y-4'}}) }}
            <div class="mt-6">
                {% if user.private %}
                    <button type="submit" name="profilePrivateForm[private]" value="0" class="inline-block bg-yellow-600 text-white py-2 px-6 rounded-md hover:bg-yellow-500 transition duration-200 ease-in-out">
                        Make Public
                    </button>
                {% else %}
                    <button type="submit" name="profilePrivateForm[private]" value="1" class="inline-block bg-yellow-600 text-white py-2 px-6 rounded-md hover:bg-yellow-500 transition duration-200 ease-in-out">
                        Make Private
                    </button>
                {% endif %}
            </div>
            {{ form_end(profilePrivateForm) }}
        </div>
    </div>
{% endblock %}
