{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>
    <a href="{{ path('user_profile_edit', {'id': user.id}) }}">update profile</a>

    {% if user.private %}
        your profile is private
    {% else %}
        your profile is public
    {% endif %}

    {{ form_start(profilePrivateForm) }}
    {% if user.private %}
        {{ form_row(profilePrivateForm.private, { label: 'Make public' }) }}
    {% else %}
        {{ form_row(profilePrivateForm.private, { label: 'Make private' }) }}
    {% endif %}
    {{ form_end(profilePrivateForm) }}

{% endblock %}
